</main>
    <footer>
        <p class="footer-item">Copyright © 2023 Vacation Base</p>
        <p class="footer-item">Love traveling? So do we. Let's connect:</p>
        <div class="footer-item">
            <a class="footer-icon" href="https://www.facebook.com/" target="_blank">
                <img src="img/icons-VB/facebook.png" alt="Facebook Icon" width="40px" height="40px">
            </a>
            <a class="footer-icon" href="https://www.instagram.com/" target="_blank">
                <img src="img/icons-VB/instagram.png" alt="Instagram Icon" width="40px" height="40px">
            </a>
            <a class="footer-icon" href="https://twitter.com/?lang=en" target="_blank">
                <img src="img/icons-VB/twitter.png" alt="Twitter Icon" width="40px" height="40px">
            </a>
        </div>
        <p class="footer-item-right"><a href="#top">Back to top</a></p>
    </footer>
    <!-- script for dropdown menu -->
    <!--<script src="js/profileDrop.js"></script>-->
</body>
</html>