</main>
    <footer>
        <p class="footer-item">Copyright © 2023 Vacation Base</p>
        <p class="footer-item">Love traveling? So do we. Let's connect:</p>
        <div class="footer-item">
            <a class="footer-icon" href="index.php">
                <img src="img/icons-VB/Facebook.png" alt="Facebook Icon" width="40px" height="40px">
            </a>
            <a class="footer-icon" href="index.php">
                <img src="img/icons-VB/Instagram.png" alt="Instagram Icon" width="40px" height="40px">
            </a>
            <a class="footer-icon" href="index.php">
                <img src="img/icons-VB/Twitter.png" alt="Twitter Icon" width="40px" height="40px">
            </a>
            <a class="footer-icon" href="index.php">
                <img src="img/icons-VB/Tiktok.png" alt="Tiktok Icon" width="40px" height="40px">
            </a>
        </div>
        <p class="footer-item-right"><a href="#top">Back to top</a></p>
    </footer>
    <!-- script for dropdown menu -->
    <!--<script src="js/profileDrop.js"></script>-->
</body>
</html>