<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preload" href="https://use.typekit.net/gww5qst.css" as="style">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icons-VB/VB_Icon.png">
    <!-- had to comment this out, getting a "GET: TIMEOUT" runtime error and content doesnt want to display -->
    <!-- <link rel="stylesheet" href="https://use.typekit.net/gww5qst.css"> -->
    <link rel="stylesheet" href="https://use.typekit.net/gww5qst.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/profile.css">
    <!-- fontawesome icons link -->
    <script src="https://kit.fontawesome.com/7fac1808f4.js" crossorigin="anonymous"></script>
    <!-- above: meta & stylesheets.  below: title & scripts -->