<body>
    <main class="grid-container">
        <nav>
            <a class="nav-home" href="index.php"> <!--Home Icon-->
                <img src="img/icons-VB/VB_Icon.png" alt="Vacation Base Home Icon" class="nav-img">
            </a>
            <a class="nav-item nav-a" href="search.php">
                <img src="img/icons-VB/Search_Icon.png" alt="Vacation Base Home Icon" class="nav-img">
                <p class="nav-p">Search</p>
            </a>
            <a class="nav-item nav-a" href="ideabase.php">
                <img src="img/icons-VB/IdeaBase_Icon.png" alt="Vacation Base Home Icon" class="nav-img">
                <p class="nav-p">Ideabase</p>
            </a>
            <a class="nav-item nav-a" href="itinerary.php">
                <img src="img/icons-VB/itinerary_icon.png" alt="Vacation Base Home Icon" class="nav-img">
                <p class="nav-p">Itinerary</p>
            </a>
            <a class="nav-item nav-a" href="profile.php">
                <img src="img/icons-VB/Profile_Icon.png" alt="Vacation Base Home Icon" class="nav-img">
                <p class="nav-p">Profile</p>
            </a>
        </nav>