/* Houses CSS called by multiple/all pages: colors & fonts, page & CSS grid, cards & carousels  */

/*<-------------------- FONTS -------------------->*/

h1 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 32px;
}
h2 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 0;
}
h3 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 26px;
}
h4 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 22;
    margin: 5px;
    padding: 0;
}

p, .captions, label, button , ul, li{   /* is for all paragraph-style text */
    font-family: open-sans, arial, sans-serif;
    font-weight: 400;
}
p, label, button {
    font-size: 16px;
}
.captions {
    font-size: 14px;
    color: $darkgray;
}

a {
    font-weight: 400;
    /* color: $orange; */
}

/*<-------------------- PAGE AND CSS GRID -------------------->*/

body {
    margin: 0;
    padding: 0;
    /*background-color: $green;*/
}

@media only screen and (min-width: 1000px) {

    .grid-container {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        padding-bottom: 20px;
        background-color: $offwhite;
    }
    .main-content {
        grid-column: 2/12;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 20px;
    }
    .inner-content {
        grid-column: 2/10;
    }
    .search-content { /*FOR SEARCH PAGE*/
        grid-column: 2/8;
    }
    .searchpagebox { /*FOR SEARCH PAGE*/
        width: 40vw;
        height: 1.5rem;
    } 
    .filter-content {   /*FOR SEARCH PAGE*/
        grid-column: 9/12;
    }
    .rightalign {
        float: right;
        font-style: italic;
    }
    .mobileLogo {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {

    .grid-container {
        margin: auto;
        display: grid;
        gap: 10px;
        padding-bottom: 20px;
    }
    .main-content {
        grid-column: 1/12;
        margin: auto;
        display: grid;
        gap: 10px;
    }
    .inner-content {
        grid-column: 1/12;
        margin: 10px;
    }
    .search-content { /*FOR SEARCH PAGE*/
        grid-column: 1/12;
        margin: 10px;
    }
    .searchpagebox { /*FOR SEARCH PAGE*/
        width: 70vw;
        height: 1.5rem;
    } 
    .filter-content {   /*FOR SEARCH PAGE*/
        display: none;
    }
    .mobileLogo {
        position: relative;
        width: 15rem;
        display: block;
        margin-left: 0;
    }
}

/*<-------------------- CARDS AND CAROUSELS -------------------->*/

.card-row { /* houses everything in row: the carousel, its cards, descriptive text etc */
    margin-top: 20px;
}
.inline {
    display: inline-block;
}
.black{
    color: black; /* .black?? are we serious lmao */
}
.actPage {
    text-decoration: none;
}
.actPage:visited {
    color: black;
}

@media only screen and (min-width: 1000px) {

    .carousel {
        overflow-x: hidden;
        white-space: nowrap;
        width: 100%;
    }
    .carouselInline {
        display: inline-flex;
        width: 65vw;
        align-items: center;
        justify-content: center;
    }
    .carouselArrow {
        display: absolute;
        padding: 10px;
        width: 30px;
        cursor: pointer; 
    }
    .carouselRight {
        float: right;
    }
    .carouselLeft {
       float: left;
    }

    .logo-area {
        display: inline-block;
        margin: auto;
        margin-top: 15px;
        text-align: center;
    } 
    .card { 
        display: inline-block;
        margin: 0px 5px 0px 5px;
        width: calc(25% - 15px);
        height: 99%;
        background-color: #fff;
        border: 1px solid $gray;
        border-radius: 3px;
    } 
    .clickcard p{
        margin-top: -20px;
    }
    .image {
        width: 100%;
        height: 100%;
        background-color: gray;
    }
}

@media only screen and (max-width: 1000px) {

    .carousel {
        overflow-x: scroll;
        white-space: nowrap;
        width: 92vw;
    }
    .carouselArrow {
        display: none;
    }
    .carouselArrow {
        display: none;
    }

    .logo-area {
        display: block;
        margin-top: 15px;
        text-align: left;
    } 
    .logo {
        margin-left: -1rem;
    }


    .card { 
        display: inline-block;
        margin: 0px 5px 0px 5px;
        width: 200px;
        height: 150px;
        background-color: #fff;
        border: 1px solid $gray;
    } 
    .image {
        width: 200px;
        height: 150px;
        background-color: gray;
    }
}

/*<-------------------- ADS -------------------->*/

@media only screen and (min-width: 1000px) {

    .adleaderboard {
        margin: auto;
        height: 90px;
        width: 970px;
        background-color: $gray;
    }
    .adleaderboardTwo {
        margin: auto;
        height: 160px;
        width: 850px;
        background-color: $gray;
    }
    .ad-banner {
        margin: auto;
        height: 180px;
        width: 930px;
        background-color: $gray;
    }
    .sa {
        margin: auto;
        height: 600px;
        width: 300px;
        background-color: $gray;
    }
}

@media only screen and (max-width: 1000px) {

    .adleaderboard {
        display: none;
    }
    .ad-banner {
        display: none;
    }
    .ad-halfpage {
        margin: auto;
        height: 600px;
        width: 300px;
        background-color: $gray;
    }
}