/* Houses CSS called by multiple/all pages: colors & fonts, page & CSS grid, cards & carousels  */

/*<-------------------- FONTS -------------------->*/

h1 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 32px;
}
h2 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 0;
}
h3 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 26px;
}
h4 {    /* is for Card Titling*/
    font-family: open-sans, arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0px 5px 0px 5px;
    overflow-x: hidden;
    white-space: nowrap;
}

p, .captions, label, button , ul, li{   /* is for all paragraph-style text */
    font-family: open-sans, arial, sans-serif;
    font-weight: 400;
}
p, label, button {
    font-size: 16px;
}
.captions {
    font-size: 14px;
    color: $darkgray;
    margin: 5px;
    overflow-x: hidden;
    white-space: nowrap;
}

a {
    font-weight: 400;
    /* color: $orange; */
}

/*<-------------------- PAGE AND CSS GRID -------------------->*/

body {
    margin: 0;
    padding: 0;
    /*background-color: $green;*/
}

@media only screen and (min-width: 1000px) {

    .grid-container {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        padding-bottom: 20px;
        background-color: $offwhite;
    }
    .main-content {
        grid-column: 2/12;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 20px;
    }
    .inner-content {
        grid-column: 2/10;
    }
    .search-content { /*FOR SEARCH PAGE*/
        grid-column: 2/8;
    }
    .searchpagebox { /*FOR SEARCH PAGE*/
        width: 40vw;
        height: 1.5rem;
    } 
    .filter-content {   /*FOR SEARCH PAGE*/
        grid-column: 9/12;
    }
    .rightalign {
        float: right;
        font-style: italic;
        color: black;
    }
    .mobileLogo {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {

    .grid-container {
        margin: auto;
        display: grid;
        gap: 10px;
        padding-bottom: 20px;
    }
    .main-content {
        grid-column: 1/12;
        margin: auto;
        display: grid;
        gap: 10px;
    }
    .inner-content {
        grid-column: 1/12;
        margin: 10px;
    }
    .search-content { /*FOR SEARCH PAGE*/
        grid-column: 1/12;
        margin: 10px;
    }
    .searchpagebox { /*FOR SEARCH PAGE*/
        width: 70vw;
        height: 1.5rem;
    } 
    .filter-content {   /*FOR SEARCH PAGE*/
        display: none;
    }
    .mobileLogo {
        position: relative;
        width: 15rem;
        display: block;
        margin-left: 0;
    }
}

/*<-------------------- CARDS AND CAROUSELS -------------------->*/

/* houses everything in row */
.card-row {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

/* text above cards */
.row-title {
    float: left;
    margin-bottom: 10px;
    padding-left: 4px;
}
.row-link {
    float: right;
    margin-top: 12px;
    padding-right: 4px;
    color: black;
}

/* the scrolling part and its toggles */
.carousel {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}
.caro-btn-left {
    border: none;
    background: none;
    position: absolute;
    left: -70px;
    top: calc(50% - 50px);
    width: 60px;
    height: 100px;
}
.caro-btn-right {
    border: none;
    background: none;
    position: absolute;
    right: -70px;
    top: calc(50% - 50px);
    width: 60px;
    height: 100px;
}

/* the cards and content within */
.card { 
    display: inline-block;
    margin: 0px 5px 0px 5px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    border: 2px solid $gray;
    border-radius: 3px;
} 

@media only screen and (min-width: 1000px) { /* desktop screens */
    .caro-arrow {
        display: absolute;
        padding: 10px;
        width: 100%;
        height: 100%;
        cursor: pointer; 
    }
    .card { 
        width: calc(25% - 15px);
    } 
    .card-image {
        width: 100%;
        height: 100%;
        background-color: gray;
    }
}

@media only screen and (max-width: 1000px) { /* mobile screens */
    .caro-arrow {
        display: none;
    }
    .card { 
        width: 200px;
        height: 150px;
    } 
    .card-image {
        width: 200px;
        height: 150px;
        background-color: gray;
    }
}

/*<-------------------- ADS -------------------->*/

@media only screen and (min-width: 1000px) {

    .adleaderboard {
        margin: auto;
        height: 90px;
        width: 970px;
        background-color: $gray;
        display: none;
    }
    .adleaderboardTwo {
        margin: auto;
        height: 160px;
        width: 850px;
        background-color: $gray;
        display: none;
    }
    .ad-banner {
        margin: auto;
        height: 180px;
        width: 930px;
        background-color: $gray;
        display: none;
    }
    .sa {
        margin: auto;
        height: 600px;
        width: 300px;
        background-color: $gray;
        display: none;
    }
}

@media only screen and (max-width: 1000px) {

    .adleaderboard {
        display: none;
    }
    .ad-banner {
        display: none;
    }
    .ad-halfpage {
        margin: auto;
        height: 600px;
        width: 300px;
        background-color: $gray;
    }
}