// this was in caro css for some reason. dumping it here until it can be put where it belongs
@media only screen and (min-width: 1000px) {
    .logo-area {
        display: inline-block;
        width: 100%;
        margin: auto;
        margin-top: 15px;
        text-align: center;
    } 
    .logo-item {
        display: inline-block;
    }
}
@media only screen and (max-width: 1000px) {
    .logo-area {
        display: block;
        margin-top: 15px;
        text-align: left;
        // background-color: peachpuff;
    } 
    .logo {
        margin-left: -1rem;
    }
}


/* Houses CSS specific to homepage */

/*<-------------------- Home Logo and Search -------------------->*/


.logo {
    width: 20rem;
    vertical-align: -20px;
}
.nobtndecor {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.searchbox {
    width: 10rem;
    height: 1.5rem;
    margin-left: 20px;
    margin-right: 10px;
    color: $darkgray;
    background-color: $transwhite;
}
.searchlabel {
    display: block;
    text-align: left;
}
.searchico {
    width: 2rem;
    vertical-align: -10px;
}
.hsline {
    width: 100%;
    margin: 10px;
    margin-inline: auto;
}

/*<-------------------- Forms -------------------->*/

.filter-form {
    background-color: $green;
    border: 1px $gray solid;
    border-radius: 2px;
    margin-top: 40px;
    padding: 10px;
}

.filter-label {
    display: block;
}

.filter-text {
    width: 2rem;
    height: 1.5rem
}


/* ITINERARY STYLING */
.trip {
    font-size: 28px;
}