.half-content-1 {
    grid-column: 2/6;

}

.half-content-2 {
    grid-column: 7/10;
}

.itinerary-header {
    text-align: center;
}

.container-itin {
    background-color: black;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}