.half-content-1 {
    grid-column: 2/6;
    height: 90vh;
    overflow-y: scroll;
}

.half-content-2 {
    grid-column: 7/10;
    height: 90vh;
    overflow-y: scroll;
}

.itinerary-header {
    text-align: center;
}

.container-itin {
    background-color: black;
    padding: 1px;
    margin-top: 1rem;
} 

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}

.trip {
    font-size: 28px;
}

.save-itinerary {
    display: block;
    margin-inline: auto;
    margin-top: 20px;
    background-color: white; 
    color: $orange; 
    border: 3px solid $orange;
    border-radius: 25px;
    font-size: 15px;
    width: 180px;
    height: 40px;
    cursor: pointer;
}

.save-itinerary:hover {
    background-color: $orange;
    color: white;
    border: 3px solid white;
}