/* Houses CSS specific to search page */
@media only screen and (min-width: 1000px) { /*Desktop media query*/
    .filter-form {
        background-color: $transwhite;
        border: 1px $gray solid;
        border-radius: 10px;
        margin-top: 80px;
        padding: 15px;
    }
    .filter-content {
        grid-column: 8/12;
        position: sticky;
        top: 0;
        height: 100vh;
    }

    .filter-label {
        display: block;
    }

    .filter-text {
        width: 2rem;
        min-width: 50px;
        height: 1.5rem
    }
    .filter-segment {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .inline {
        display: inline-block;
        padding-left: 4px;
        padding-right: 4px;
    }
    .list {
        padding-top: 4px;
    }
    .filter-btn {
        padding-top: 20px;
        margin: 4px;
    }
    .mobile-filter-button {
        display: none;
    }
}

@media only screen and (max-width: 1000px) { /*Mobile filter*/
    .mobile-filter-button {
        width: 95vw;
        margin-top: 5px;
        border-radius: 10px;
        background-color: $transwhite;
        border: 1px $gray solid;
        cursor: pointer;
    }
    .filter-content {
        display: none;
    }
    .filter-content-on {
        display: block;
        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $gray, $alpha: 0.5); /* Black background with opacity */
        z-index: 12; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
    .filter-form {
        background-color: white;
        border: 1px $gray solid;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 15px;
        border-radius: 3px;
    }

    .filter-label {
        display: block;
    }

    .filter-text {
        width: 2rem;
        min-width: 50px;
        height: 1.5rem
    }
    .filter-segment {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .inline {
        display: inline-block;
        padding-left: 4px;
        padding-right: 4px;
    }
    .list {
        padding-top: 4px;
    }
    .filter-btn {
        padding-top: 20px;
        margin: 4px;
    }
}

@media only screen and (min-width: 1000px) { /*Destop Search*/
    .search-content {
        grid-column: 2/8;
        margin-top: 60px;
    }
    .searchpagebox {
        width: 30vw;
        height: 1.5rem;
    } 
    .search-card {
        display: inline-block;
        width: 100%;
        height: 200px;
        margin-top: 15px;
        border-radius: 10px;
        color: black;
        box-shadow: 0px 1px 6px $gray;
        background-color: $transwhite;
        overflow: hidden;
    }
    .search-image {
        height: 100%;
        width: 300px;
        background-color: $gray;
        float: left;
    }
    .search-card-content {
        display: inline-block;
        width: calc(100% - 300px);
        padding: 10px;
        padding-top: 15px;
        overflow: hidden;
    }
    .subtext {
        color: #555;
        font-size: 18;
        font-style: italic;
        margin-top: -20px;
    }
}

@media only screen and (max-width: 1000px) { /*Mobile Search*/
    .search-content {
        grid-column: 1/12;
        margin: 10px;
    }
    .searchpagebox {
        width: 60vw;
        height: 1.5rem;
    } 
    .search-card {
        height: 200px;
        border: 1px solid $gray;
        margin-top: 20px;
        border-radius: 3px;
    }
    .search-image {
        height: 100%;
        float: left;
    }
    .search-card-content {
        float: left;
        padding: 0px 10px 0px 10px;
        margin-top: -20px;
    }
    .subtext {
        color: #555;
        font-size: 18;
        font-style: italic;
        margin-top: -20px;
    }
}

.search-content {
    grid-column: 2/8;
    margin-top: 60px;
}
.searchpagebox {
    width: 40vw;
    height: 1.5rem;
} 
.search-card {
    display: inline-block;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 1px 6px $gray;
    background-color: $transwhite;
    overflow: hidden;
}
.search-image {
    height: 100%;
    width: 300px;
    background-color: $gray;
    float: left;
}
.search-card-content {
    display: inline-block;
    width: calc(100% - 300px);
    padding: 10px;
    padding-top: 15px;
    overflow: hidden;
}
.subtext {
    color: #555;
    font-size: 18;
    font-style: italic;
    margin-top: -20px;
}