/* Houses CSS for nav, loginstatus, and footer templates */

/*<-------------------- NAV -------------------->*/

@media only screen and (min-width: 1000px) {

    nav {  /* note: width is to simulate grid column, as "position: fixed;" seems to overrule it */
        grid-column: 1/2;
        position: fixed;
        height: 100%;
        width: 8%;
        min-width: 100px;
        border-right: solid;
        border-width: 2px;
        border-color: $gray;
        background-color: white;
    }
    .nav-home {
        display: block;
        margin: auto;
        margin-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
    .nav-item {
        display: block;
        margin: auto;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .nav-p { /* Styles nav text */
        margin-top: -20px;
        padding-top: 16px;
        text-align: center;
        color: black;
    }
    .nav-a {
        text-decoration: none;
    }
    .nav-img {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) { 

    nav { 
        background-color: white;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        border: 2px $gray solid;
        display: flex;
        justify-content: space-between;
    }
    .nav-p { /* Styles nav text */
        display: none;
    }
    .nav-img {
        height: 50px;
    }
}

/*<-------------------- LOGIN STATUS -------------------->*/

@media only screen and (min-width: 1000px) {

    .login-status {
        position: absolute;
        right: 15px;
    }
}

@media only screen and (max-width: 1000px) {

    .login-status {
        position: absolute;
        right: 5px;
        display: none;
    }
}

/*<-------------------- FOOTER -------------------->*/

@media only screen and (min-width: 1000px) {

    footer {
        width: 100%;
        padding-left: calc(8%);
        padding-right: calc(8%);
        padding-top: 40px;
        padding-bottom: 80px;
        background-color: $offwhite;
    }
    .footer-item {
        margin: 0px 0px 0px 20px;
        float: left;
    }
    .footer-item-right {
        margin: 0px 20px 0px 0px;
        float: right;
    }
    .footer-icon {
        margin: -10px 20px 0px 0px;
        float: left;
    }
}

@media only screen and (max-width: 1000px) {

    footer {
        width: 100%;
        padding-left: calc(8%);
        padding-right: calc(8%);
        padding-top: 40px;
        padding-bottom: 220px;
        background-color: $offwhite;
    }
    .footer-item {
        margin: 0px 20px 10px 0px;
        float: left;
    }
    .footer-item-right {
        margin: 30px 20px 0px 0px;
        float: right;
    }
    .footer-icon {
        margin: 20px 20px 0px 0px;
        float: left;
    }
}