/*<-------------------- COLOR VARIABLES -------------------->*/

$pink: #F291D0;
$orange: #FFBD59;
$gradient: linear-gradient(#fef5fb, #fff9f0);
$green: #e2f0d9;
$white: white;
$transwhite: rgba(255, 255, 255, 0.6);
$offwhite: #fcfcfc;
$gray: #c3c3c3;
$darkgray: #535353; 
$offblack: #282828;
$black: black;