/*<-------------------- COLOR VARIABLES -------------------->*/

$pink: #F291D0;
$orange: #FFBD59;
$green: #e2f0d9;
$white: white;
$transwhite: rgba(255, 255, 255, 0.5);
$offwhite: #fcfcfc;
$gray: #d9d9d9;
$darkgray: #555; 
$offblack: #282828;
$black: black;