* {
    box-sizing: border-box;
}

.head {
    text-align: center;
}

.col {
    float: left;
    width: 50%;
    padding: 12px;
}
.rows::after{
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 50%;
    padding: 10px;
    height: auto;
    float: left;
}

.row::after {
    content: none;
    display: table;
    clear: both;
}
