/*<-------------------- Main Body -------------------->*/
:root {
    --gray: #d9d9d9; /*Borders and Lines*/
    --darkgray: #555; /*Gray Text*/
    --pink: #F291D0; /*Nav Icons, Captions, etc.*/
    --orange: #FFBD59; /*Actions, Buttons, Links*/
    --green: #e2f0d9; /*Fields, Footer*/
    --white: white; /*Background*/
    --black: black; /*Text*/
}

/*Fonts*/

h1, h2, h3, h4 {
    font-family: source-serif-pro, serif;
    font-weight: 400;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22;
    margin: 5px;
    padding: 0;
}

p, .captions, label, button {
    font-family: open-sans, arial, sans-serif;
    font-weight: 400;
}

p, label, button {
    font-size: 16px;
}

.captions {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

/*<-------------------- Home Logo and Search -------------------->*/


.logo {
    width: 20rem;
    vertical-align: -20px;
}
.nobtndecor {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.searchbox {
    width: 10rem;
    height: 1.5rem;
}
.searchlabel {
    display: block;
    text-align: left;
}
.searchico {
    width: 2rem;
    vertical-align: -10px;
}
.hsline {
    width: 100%;
    margin-inline: auto;
}



/*<-------------------- Carousel* -------------------->*/

.card-row { /* houses everything in row: the carousel, its cards, descriptive text etc */
    margin-top: 20px;
}
.inline {
    display: inline-block;
}
.black{
    color: black; /* .black?? are we serious lmao */
}
.actPage {
    text-decoration: none;
}
.actPage:visited {
    color: black;
}

/*<-------------------- Footer -------------------->*/

footer {
    width: calc(84% - 40px);
    height: 30px;
    padding-left: calc(8% + 20px);
    padding-right: calc(8% + 20px);
    background-color: var(--green);
}

.footer-txt {
    text-align: center;
}

/*<-------------------- Forms -------------------->*/

.filter-form {
    background-color: var(--green);
    border: 1px var(--gray) solid;
    border-radius: 2px;
    margin-top: 40px;
    padding: 10px;
}

.filter-label {
    display: block;
}

.filter-text {
    width: 2rem;
    height: 1.5rem
}


/* ITINERARY STYLING */
.trip {
    font-size: 28px;
}