/*<-------------------- COLOR VARIABLES -------------------->*/

:root {
    --gray: #d9d9d9;    /*Borders and Lines*/
    --darkgray: #555;   /*Gray Text*/
    --pink: #F291D0;    /*Nav Icons, Captions, etc.*/
    --orange: #FFBD59;  /*Actions, Buttons, Links*/
    --green: #e2f0d9;   /*Fields, Footer*/
    --white: white;     /*Background*/
    --black: black;     /*Text*/
}

/*<-------------------- NON-UNIVERSAL CSS -------------------->*/

@import "activity.css";     /* houses css specific to activity and blog pages */
@import "ideabase.css";     /* houses css specific to ideabase page */
@import "index.css";        /* houses css specific to homepage */
@import "itinerary.css";    /* houses css specific to itinerary page */
@import "login.css";        /* houses css specific to login, signup, and forgotpw pages */
@import "profile.css";      /* houses css specific to profile page */
@import "search.css";       /* houses css specific to search page */
@import "template.css";     /* houses css for nav, login status, and footer */

@import "responsive.css";   /* !!!! sunsetting; rehome all css to appropriate files !!!! */

/*<-------------------- FONTS -------------------->*/

h1 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 32px;
}

h2 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 26px;
}

h3 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 26px;
}

h4 {    /* is for ____ */
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-size: 22;
    margin: 5px;
    padding: 0;
}

p, .captions, label, button , ul, li{   /* is for all paragraph-style text */
    font-family: open-sans, arial, sans-serif;
    font-weight: 400;
}

p, label, button {
    font-size: 16px;
}

.captions {
    font-size: 14px;
}

/*<-------------------- PAGE AND CSS GRID -------------------->*/

body {
    margin: 0;
    padding: 0;
}