/*<-------------------- COLOR VARIABLES -------------------->*/ /* Houses CSS called by multiple/all pages: colors & fonts, page & CSS grid, cards & carousels  */
/*<-------------------- FONTS -------------------->*/
h1 { /* is for ____ */
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-size: 32px;
}

h2 { /* is for Row Titling */
  font-family: source-serif-pro, serif;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 0;
  color: #282828;
}

h3 { /* is for ____ */
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-size: 26px;
}

h4 { /* is for Card Titling*/
  font-family: open-sans, arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0px 5px 0px 5px;
  overflow-x: hidden;
  white-space: nowrap;
}

p, .captions, label, button, ul, li { /* is for all paragraph-style text */
  font-family: open-sans, arial, sans-serif;
  font-weight: 400;
}

p, label, button {
  font-size: 16px;
}

.captions {
  font-size: 14px;
  color: #535353;
  margin: 5px;
  overflow-x: hidden;
  white-space: nowrap;
}

a {
  font-weight: 400;
  /* color: $orange; */
}

.hsline {
  width: 100%;
  margin: 10px;
  margin-inline: auto;
  border: 1px solid #c3c3c3;
}

.tightline {
  width: 100%;
  margin: 5px;
  margin-inline: auto;
  border-top: 1px solid #c3c3c3;
}

/*<-------------------- PAGE AND CSS GRID -------------------->*/
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#fef5fb, #fff9f0);
}

@media only screen and (min-width: 1000px) {
  .grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding-bottom: 20px;
  }
  .main-content {
    grid-column: 2/12;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
  }
  .inner-content {
    grid-column: 2/10;
    margin-top: 20px;
  }
  .rightalign {
    float: right;
    font-style: italic;
    color: black;
  }
  .mobileLogo {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .grid-container {
    margin: auto;
    display: grid;
    gap: 10px;
    padding-bottom: 20px;
  }
  .main-content {
    grid-column: 1/12;
    margin: auto;
    display: grid;
    gap: 10px;
  }
  .inner-content {
    grid-column: 1/12;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mobileLogo {
    position: relative;
    width: 15rem;
    display: block;
    margin-left: 0;
  }
}
/*<-------------------- CARDS AND CAROUSELS -------------------->*/
/* houses everything in row */
.card-row {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

/* the scrolling part and its toggles */
.caro-btn-left {
  border: none;
  background: none;
  position: absolute;
  left: -70px;
  top: calc(50% - 50px);
  width: 60px;
  height: 100px;
  transition: 350ms;
}

.caro-btn-right {
  border: none;
  background: none;
  position: absolute;
  right: -70px;
  top: calc(50% - 50px);
  width: 60px;
  height: 100px;
  transition: 350ms;
}

.invis {
  opacity: 0;
}

/* the cards and content within */
.card {
  display: inline-block;
  margin: 2px 5px 0px 5px;
  padding-bottom: 5px;
  background: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 6px #c3c3c3;
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  margin-bottom: 5px;
}

@media only screen and (min-width: 1000px) { /* desktop screens */
  .caro-arrow {
    display: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .card {
    width: calc(25% - 10px);
  }
  .card-image {
    width: 100%;
    height: 100%;
    background-color: #c3c3c3;
  }
  .carousel {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
  }
  /* text above cards */
  .row-title {
    float: left;
    margin-bottom: 10px;
    padding-left: 4px;
  }
  .row-link {
    float: right;
    margin-top: 12px;
    padding-right: 4px;
  }
  .row-link-item {
    color: #282828;
    text-decoration: underline;
  }
}
@media only screen and (max-width: 1000px) { /* mobile screens */
  .caro-arrow {
    display: none;
  }
  .card {
    width: 200px;
    height: 215px;
  }
  .card-image {
    width: 200px;
    height: 150px;
    background-color: #c3c3c3;
  }
  .carousel {
    width: 100vw;
    overflow-x: scroll;
    white-space: nowrap;
  }
  /* text above cards */
  .row-title {
    float: left;
    margin-bottom: 10px;
    padding-left: 4px;
  }
  .row-link {
    display: none;
    float: right;
    margin-top: 12px;
    padding-right: 4px;
  }
  .row-link-item {
    display: none;
    color: #282828;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1000px) { /*desktop*/
  .logo-area {
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
  }
  .logo-item {
    display: inline-block;
  }
  /* Houses CSS specific to homepage */
  /*<-------------------- Home Logo and Search -------------------->*/
  .logo {
    width: 20rem;
    vertical-align: -20px;
  }
  .nobtndecor {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .searchbox {
    width: 10rem;
    height: 1.5rem;
    margin-left: 20px;
    margin-right: 10px;
    color: #535353;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .searchlabel {
    display: block;
    text-align: left;
  }
  .searchico {
    width: 2rem;
    vertical-align: -10px;
  }
}
@media only screen and (max-width: 1000px) { /*mobile*/
  .logo-area {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .logo-item {
    display: inline-block;
  }
  /*<-------------------- Home Logo and Search -------------------->*/
  .logo {
    width: 20rem;
    vertical-align: -20px;
    margin-left: -1rem;
  }
  .nobtndecor {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .searchbox {
    width: 10rem;
    height: 1.5rem;
    margin: auto;
    color: #535353;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .searchlabel {
    display: block;
    text-align: center;
  }
  .searchico {
    width: 2rem;
    vertical-align: -10px;
  }
}
/* ITINERARY STYLING */
.trip {
  font-size: 28px;
}

/* Houses CSS for nav, loginstatus, and footer templates */
/*<-------------------- NAV -------------------->*/
@media only screen and (min-width: 1000px) {
  nav { /* note: width is to simulate grid column, as "position: fixed;" seems to overrule it */
    grid-column: 1/2;
    position: fixed;
    height: 100%;
    width: 8%;
    min-width: 100px;
    box-shadow: 0px 0px 5px #c3c3c3;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .nav-home {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
  .nav-item {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .nav-p { /* Styles nav text */
    margin-top: -20px;
    padding-top: 16px;
    text-align: center;
    color: black;
  }
  .nav-a {
    text-decoration: none;
  }
  .nav-img {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px #c3c3c3 solid;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }
  .nav-p { /* Styles nav text */
    display: none;
  }
  .nav-img {
    height: 50px;
  }
}
/*<-------------------- LOGIN STATUS -------------------->*/
@media only screen and (min-width: 1000px) {
  .login-status {
    position: absolute;
    text-align: right;
    top: 15px;
    right: 15px;
    width: 250px;
  }
}
@media only screen and (max-width: 1000px) {
  .login-status {
    position: absolute;
    right: 10px;
    display: none;
    padding-top: 5px;
  }
}
/*<-------------------- FOOTER -------------------->*/
@media only screen and (min-width: 1000px) {
  footer {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .footer-item {
    margin: 0px 0px 0px 20px;
    float: left;
  }
  .footer-item-right {
    margin: 0px 20px 0px 0px;
    float: right;
  }
  .footer-icon {
    margin: -10px 20px 0px 0px;
    float: left;
  }
}
@media only screen and (max-width: 1000px) {
  footer {
    display: none;
  }
  /*footer {
      width: 100%;
      padding-left: calc(8%);
      padding-right: calc(8%);
      padding-top: 40px;
      padding-bottom: 220px;
  }
  .footer-item {
      margin: 0px 20px 10px 0px;
      float: left;
  }
  .footer-item-right {
      margin: 30px 20px 0px 0px;
      float: right;
  }
  .footer-icon {
      margin: 20px 20px 0px 0px;
      float: left;
  }*/
}
/* Houses CSS specific to activity and blog pages */
/* Activity Page Content Styling */
.margActivity {
  margin-left: 15%;
  margin-right: 15%;
}

.price-click {
  align-items: center;
  display: flex;
  width: 50%;
}

.priceOf {
  flex: 1;
  margin: 1%;
}

.priceOf p {
  /* using 1.25vw for font-size worked but it gets too small and precise when the screen is minimized */
  font-size: 20px;
}

.actButton {
  margin-top: 3%;
  margin-right: -100%;
}

.addACTButton {
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.activityButton {
  background-color: white;
  color: #FFc875;
  border: 3px solid #FFc875;
  border-radius: 25px;
  font-size: 15px;
  padding: 10px 15px;
}

.actInfo {
  font-size: 24px;
}

.actInfoTwo {
  font-size: 18px;
}

.actInfoThree {
  font-size: 14px;
}

.respImgAct {
  max-width: 100%;
  height: auto;
  display: block;
}

.actWebLink:visited {
  color: black;
}

.actWebLink:link {
  color: black;
}

.recCapt {
  font-size: 22px;
  font-weight: 500;
}

.mapSize {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

/* Houses CSS specific to ideabase page */
.ideabase-heading {
  padding-bottom: 0;
  margin-bottom: 0;
}

.ideabase-info {
  padding-top: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .ideabase-card {
    display: inline-block;
    margin: 0px 5px 0px 5px;
    width: 250px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #c3c3c3;
  }
  .ideabase-image {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (min-width: 1000px) {
  .ideabase-card {
    display: inline-block;
    margin: 0px 5px 0px 5px;
    width: calc(25% - 15px);
    height: 100%;
  }
  .ideabase-image {
    width: 100%;
    height: 100%;
    background-color: #c3c3c3;
  }
}
.half-content-1 {
  grid-column: 2/6;
}

.half-content-2 {
  grid-column: 7/10;
}

.itinerary-header {
  text-align: center;
}

.container-itin {
  background-color: black;
  padding: 1rem;
  margin-top: 1rem;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

/* Houses CSS specific to log-in, sign-up, and forgotpw pages */
/*Small Screen Size*/
@media only screen and (max-width: 1000px) {
  .login-content {
    grid-column: 1/12;
    margin-top: 5vh;
  }
  .login-form {
    margin-inline: 5vw;
  }
}
/*Large Screen Size*/
@media only screen and (min-width: 1000px) {
  .login-content { /*Also used for sign up and forgot password page*/
    grid-column: 3/9;
    margin-top: 10vh;
    position: relative;
  }
}
.form-items {
  display: flex;
  justify-content: center;
}

/*Text Styling*/
.head-text {
  padding-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: center;
}

.head-desc {
  margin-top: 0px;
  font-size: 18px;
  text-align: center;
}

.form-labels {
  margin: 0;
}

.box-size-long {
  width: 300px;
  height: 30px;
}

.box-size-short {
  width: 143px;
  height: 30px;
}

.box-pad {
  margin-right: 9px;
}

.buttons {
  display: block;
  margin-inline: auto;
  margin-top: 10px;
  background-color: white;
  color: #FFBD59;
  border: 3px solid #FFBD59;
  border-radius: 25px;
  font-size: 15px;
  width: 180px;
  height: 40px;
  cursor: pointer;
}

.nopass {
  margin-top: 2px;
}

.buttons:hover {
  background-color: #FFBD59;
  color: white;
}

.forgotpw {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.invalid-error {
  border: 3px solid #f01e2c;
}

.registerhere {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.loginhere {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.no-pass {
  text-align: center;
  font-size: 14px;
  padding: 5px;
  margin: 0;
}

.logout_btn {
  text-align: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

.no-account {
  text-align: center;
  font-size: 14px;
  padding: 5px;
  margin: 0;
}

.or {
  text-align: center;
}

.caption {
  text-align: center;
  font-size: 14px;
}

.form-border {
  display: inline-block;
  border: 2px solid #c3c3c3;
  border-radius: 5px;
  padding: 5px 30px;
}

input {
  display: block;
}

input[type=text] {
  border: 1px solid #c3c3c3;
  padding: 4px 8px;
  border-radius: 99px;
}

input[type=text]:focus {
  outline: none;
  border: 2px solid #FFBD59;
  border-radius: 3px;
}

input[type=email] {
  border: 1px solid #c3c3c3;
  padding: 4px 8px;
  border-radius: 3px;
}

input[type=email]:focus {
  outline: none;
  border: 2px solid #FFBD59;
  border-radius: 3px;
}

input[type=password] {
  border: 1px solid #c3c3c3;
  padding: 4px 8px;
  border-radius: 3px;
}

input[type=password]:focus {
  outline: none;
  border: 2px solid #FFBD59;
  border-radius: 3px;
}

/* Houses CSS specific to profile page */
/*Top of Profile Page*/
.profile-pic {
  display: block;
  margin: auto;
  padding-top: 20px;
  width: 200px;
}

.username {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.profile-nav:hover {
  text-decoration: underline;
}

/*Bottom of Profile Page*/
.invisible {
  display: none !important;
}

.itinerary-header {
  text-align: center;
}

.center-section {
  display: block;
  margin: auto;
}

/*small screen*/
@media only screen and (max-width: 1000px) {
  .profile-split-left {
    grid-column: 1/12;
  }
  .profile-split-right {
    grid-column: 1/12;
  }
  .profile-nav {
    font-size: 18px;
    width: 20vw;
  }
}
/*big screen*/
@media only screen and (min-width: 1000px) {
  .profile-split-left {
    grid-column: 2/5;
  }
  .profile-split-right {
    grid-column: 6/10;
  }
  .profile-nav {
    font-size: 20px;
    width: 15vw;
  }
}
/*Itineraries Cards*/
.itinerary-card {
  display: grid;
  grid-template-columns: 120px 140px 140px;
  margin: auto;
  width: 400px;
  height: 95px;
  background-color: #e2f0d9;
}

.itinerary-card-img {
  grid-column: 1/span 1;
  padding-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 75px;
}

.card-col {
  grid-column: auto/span 1;
}

.card-title {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 0;
}

.card-date {
  font-style: italic;
  margin-top: 0;
}

.card-remove {
  font-style: italic;
  padding-right: 5px;
  padding-top: 20px;
  text-align: right;
  cursor: pointer;
}

.icons {
  width: 25px;
}

.card-icons {
  padding-top: 5px;
  padding-left: 80px;
}

.share-icon {
  width: 25px;
  padding-top: 5px;
  padding-left: 110px;
}

.card-button {
  color: white;
  background-color: #FFBD59;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-top: 25px;
  margin-left: 35px;
}

/*Account Settings Styling*/
.profile-form {
  background-color: #e2f0d9;
  padding: 25px;
}

.icon-container {
  margin: 0;
}

.user-icons {
  width: 50px;
  cursor: pointer;
}

.tb-container {
  margin: 0;
}

.box {
  width: 250px;
}

.account-submit {
  display: block;
  margin: auto;
  background-color: #e2f0d9;
  color: #FFBD59;
  border: 3px solid #FFBD59;
  border-radius: 25px;
  font-size: 15px;
  padding: 10px 15px;
}

.account-submit:hover {
  color: white;
  background-color: #FFBD59;
}

/*About Us section*/
.page-titles {
  font-weight: bold;
}

.about-us-text {
  margin-inline: 5%;
}

/*Reviews*/
.center-text {
  text-align: center;
}

.tall {
  height: 100px;
}

.stars-in-box {
  display: inline-block;
  margin: auto;
}

.star-size {
  width: 40px;
  padding: 4px;
  cursor: pointer;
}

/* Houses CSS specific to search page */
.filter-form {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px #c3c3c3 solid;
  border-radius: 10px;
  margin-top: 80px;
  padding: 15px;
}

.filter-label {
  display: block;
}

.filter-text {
  width: 2rem;
  min-width: 50px;
  height: 1.5rem;
}

.filter-segment {
  padding-top: 10px;
  padding-bottom: 20px;
}

.inline {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}

.list {
  padding-top: 4px;
}

.filter-btn {
  padding-top: 20px;
  margin: 4px;
}

@media only screen and (min-width: 1000px) {
  .search-content {
    grid-column: 2/8;
    margin-top: 60px;
  }
  .searchpagebox {
    width: 40vw;
    height: 1.5rem;
  }
  .filter-content {
    grid-column: 8/12;
    position: sticky;
    top: 0;
    height: 100vh;
  }
  .search-card {
    display: inline-block;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 1px 6px #c3c3c3;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
  }
  .search-image {
    height: 100%;
    width: 300px;
    background-color: #c3c3c3;
    float: left;
  }
  .search-card-content {
    display: inline-block;
    width: calc(100% - 300px);
    padding: 10px;
    padding-top: 15px;
    overflow: hidden;
  }
  .subtext {
    color: #555;
    font-size: 18;
    font-style: italic;
    margin-top: -20px;
  }
}
@media only screen and (max-width: 1000px) {
  .search-content {
    grid-column: 1/12;
    margin: 10px;
  }
  .searchpagebox {
    width: 70vw;
    height: 1.5rem;
  }
  .filter-content {
    display: none;
  }
  .search-card {
    height: 200px;
    border: 1px solid #c3c3c3;
    margin-top: 20px;
    border-radius: 3px;
  }
  .search-image {
    height: 100%;
    float: left;
  }
  .search-card-content {
    float: left;
    padding: 0px 10px 0px 10px;
    margin-top: -20px;
  }
  .subtext {
    color: #555;
    font-size: 18;
    font-style: italic;
    margin-top: -20px;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.profile-drop {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  right: 10px;
}

.drop-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  cursor: pointer;
}

.drop-list {
  position: absolute;
  top: 30px;
  background-color: white;
  border-radius: 5px;
  right: 0;
  width: 150px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
}

.drop-list.active {
  max-height: 500px;
}

.drop-list hr {
  border: 0.5px solid #ffbd59;
}

.drop-items {
  padding: 0.5rem 0 0 1rem;
}

.drop-items:hover {
  background-color: #ffebcd;
}

.drop-items a {
  align-items: center;
  display: flex;
  text-decoration: none;
  font-weight: 600;
  color: black;
  height: 30px;
}

.drop-items a i {
  margin-right: 1rem;
  color: #FFBD59;
  text-align: center;
}

/* profile page styling */
/* .user {
    font-size: 20px;
} */
/* .card-profile-side1 {
    background-color: gray;
    color: green;
    height: 100%;
} */
/* .card-profile-side1 a{
    margin-left: 10px;
    display: block;
    color: green;
    font-size: 25px;
    text-decoration: none;
} */
/* .card-profile-sides {
    position: relative;
    display: flex;
    flex-direction: column;
} *//*# sourceMappingURL=main.css.map */