:root {
    --gray: #d9d9d9; /*Borders and Lines*/
    --darkgray: #555; /*Gray Text*/
    --pink: rgb(242, 145, 208); /*Nav Icons, Captions, etc.*/
    --orange: #FFc875; /*Actions, Buttons, Links*/
    --green: #e2f0d9; /*Fields, Footer*/
    --white: white; /*Background*/
    --black: black; /*Text*/
}

/*Small Screens*/
@media only screen and (max-width: 1000px) { 
    /*Grids*/
    .grid-container {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
    }
    .main-content {
        grid-column: 1/12;
        margin: auto;
        display: grid;
        gap: 10px;
    }
    .inner-content {
        grid-column: 1/12;
        margin: 10px;
    }
    .search-content { /*FOR SEARCH PAGE*/
        grid-column: 1/12;
        margin: 10px;
    }
    .searchpagebox { /*FOR SEARCH PAGE*/
        width: 70vw;
        height: 1.5rem;
    } 
    .filter-content {   /*FOR SEARCH PAGE*/
        display: none;
    }
    .header {
        position: absolute;
        right: 5px;
    }
    .mobileLogo {
        position: relative;
        width: 15rem;
        display: block;
        margin-left: 0;
    }
    /*<-------------------- Navigation -------------------->*/

    .nav-home, .nav-item {
        color: #f2f2f2;
        text-decoration: none;

    }
    .nav-p { /* Styles Navigation words */
        text-align: center;
        color: black;
        display: none;
    }
    .nav-a {
        text-decoration: none;
    }
    nav { 
        background-color: white;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        border: 2px var(--gray) solid;
        display: flex;
        justify-content: space-between;
    }
    .nav-img {
        height: 50px;
    }
    h2 {
        margin-bottom: 0;
    }
    .rightalign {
        display: block !important;
        padding-top: 0; margin-top: 0;
    }

    /*<-------------------- Ad Space -------------------->*/

    .adleaderboard {
        display: none;
    }
    .ad-banner {
        display: none;
    }
    .ad-halfpage {
        margin: auto;
        height: 600px;
        width: 300px;
        background-color: var(--gray);
    }
    /*Carousel Items*/

    .carousel {
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
    }
    .carouselArrow {
        display: none;
    }
    .carouselArrow {
        display: none;
    }

    .logo-area {
    display: block;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    } 
}

/*Big Screens*/
@media only screen and (min-width: 1000px) {
    .grid-container {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }
    .main-content {
        grid-column: 2/12;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 20px;
    }
    .inner-content {
        grid-column: 2/10;
    }
    .search-content { /*FOR SEARCH PAGE*/
        grid-column: 2/8;
    }
    .searchpagebox { /*FOR SEARCH PAGE*/
        width: 40vw;
        height: 1.5rem;
    } 
    .filter-content {   /*FOR SEARCH PAGE*/
        grid-column: 9/12;
    }
    .rightalign {
        float: right;
        font-style: italic;
    }
    .header {
        position: absolute;
        right: 15px;
    }
    .mobileLogo {
        display: none;
    }
    /*<-------------------- Navigation -------------------->*/

    .nav-home {
        display: block;
        margin: auto;
        margin-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
    .nav-item {
        display: block;
        margin: auto;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .nav-p { /* Styles Navigation words */
        margin-top: -20px;
        padding-top: 16px;
        text-align: center;
        color: black;
    }
    .nav-a {
        text-decoration: none;
    }
    nav {  /* note: width is to simulate grid column, as "position: fixed;" seems to overrule it */
        grid-column: 1/2;
        position: fixed;
        height: 100%;
        width: 8%;
        min-width: 100px;
        border-right: solid;
        border-width: 2px;
        border-color: lightgray;
        background-color: white;
    }
    .nav-img {
        width: 100%;
    }

    /*<-------------------- Ad Space -------------------->*/

    .adleaderboard {
        margin: auto;
        height: 90px;
        width: 970px;
        background-color: var(--gray);
    }
    .ad-banner {
        margin: auto;
        height: 180px;
        width: 930px;
        background-color: var(--gray);
    }
    .sa {
        margin: auto;
        height: 600px;
        width: 300px;
        background-color: var(--gray);
    }

    /*Carousel Items*/

    .carousel {
        overflow-x: hidden;
        white-space: nowrap;
        width: 100%;
    }
    .carouselArrow {
        width: 30px;
        margin-top: 10px;
        vertical-align: -15px;
        padding: 2px;
        background-color: rgba(242, 145, 208, 0.1) ;
        border: 2px solid var(--darkgray);
        border-radius: 2px;
    }

    .logo-area {
    display: inline-block;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    } 
}